body{
    background-color: rgb(43, 41, 41);
    color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    
    background-color: rgb(168, 113, 11);
    padding: 5px;
    
}
@keyframes animar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* styles.css */
.loading-spinner {
    border: 8px solid purple;
    border-right: 8px solid rgb(211, 36, 36);
    animation-name: animar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgb(43, 41, 41);
    margin: auto;
    margin-top: 20%;
}

.content {
    display: none;

}
